*{margin: 0; padding: 0;}  /* font-family: 'Hepta Slab', serif; */

/* .tdtoso1 {
	opacity: 1;
} */
/* .tdtoso2 {
	opacity: 0;
}
.tdtoso3 {
	opacity: 0;
}
.tdtoso4 {
	opacity: 0;
}
 */

 .upup i {
 	font-size: 40px;
 	padding-top: 20px;
 }
 .footer .btn-danger {
 	margin-top: 20px;
 	border-radius: 20px;
 	padding: 13px 41px;
 	background-color: black;
 	color: white;
 	font-family: 'Hepta Slab', serif;
 	font-weight: bold;
 }
 .footer .newsletter p {
 	font-family: 'Hepta Slab', serif;
 	font-size: 13px;
 	color: white;
 	padding-top: 30px;
 }
 .footer .contactus p {
 	color: white;
 	margin-top: 40px;

 }
 .footer .contactus i {
 	color: red;
 	padding-right: 10px;
 }
 .footer .tags .btn-secondary {
 	border-radius: 50px;
 	font-family: 'Hepta Slab', serif;
 	padding: 10px 15px;
 	background-color: red;
 	color: black;
 	font-weight: 800;
 	margin: 14px 5px;
 }
 .footer .tags h2 {
 	color: white;
 	text-transform: capitalize;
 	font-family: 'Hepta Slab', serif;
 	font-size: 30px;
 }
 .footer .logoaboutme {
 	color: white;
 }
 .footer .logotext p {
 	font-family: 'Hepta Slab', serif;
 	color: white;
 	font-size: 15px;
 	padding-top: 20px;
 	font-style: italic;
 }
.footer .nenxanh {
	background-color: #000000b0;
	width: 100%;
	height: 350px;
}
.footer {
 	width: 100%;
 	height: 350px;
 	background-image: url('footer.jpg');
 	background-color: grey;
 }
 .khoiblog .card-deck .card {
 	border-radius: 20px;
 }
 .khoiblog .card-img-top {
 	width: 100%;
 	height: 70%;
 	border-radius: 20px 20px 0px 0px;
 }
 .daysanphamtren p {
 	font-size: 13px;
 	font-family: 'Hepta Slab', serif;
 	text-transform: uppercase;
 	color: grey;
 }
 .daysanphamtren h5{
 	font-size: 20px;
 	font-family: 'Hepta Slab', serif;
 	text-transform: capitalize;
 	color: #ad1414;
 }
 .banner a.btn.btn-danger {
    border-radius: 20px;
    padding: 10px 40px;
    background-color: #800d0d;
}
 .banner p {
 	font-size: 12px;
 	font-family: 'Hepta Slab', serif;
 }
 .banner h1 {
 	color: #a51212;
 	font-size: 52px;
 	font-family: 'Hepta Slab', serif;
 	font-weight: 400;
 }
 .banner h3 {
 	font-size: 25px;
 	font-weight: 400;
 	font-family: 'Hepta Slab', serif;
 }
 .main_menu ul {
 	font-size: 17px;
 	font-family: 'Hepta Slab', serif;
 	padding-right: 12px;
 }
 .logoaboutme{
	text-transform: capitalize;
	font-size: 40px;
	font-style: italic;
	font-family:  'Montserrat', sans-serif;
	font-weight: bold;
	
} 
.navbar-light .navbar-nav .nav-link.mauchu {
	color: #ab2121;
	font-size: 19px;
	padding-right: 30px;
	transition: 0.4s;
}
.navbar-light .navbar-nav .nav-link.mauchu:hover {
	color: mediumseagreen;
	font-size: 23px;
	padding-right: 40px;
}

.maunen{
	background-color: grey;
	height: 70px;

	
}
.thongtinheading {
	background-color: #ff5050;
	width: 100%;
	height: 35px;
	font-family: 'Hepta Slab', serif;
}
.thongtinheading .td {
	font-family: 'Hepta Slab', serif;
	color: #3e5dce;
	font-size: 13px;
	padding-top: 7px;
}
.thongtinheading .phone {
	font-size: 13px;
	padding-top: 7px;
}
.thongtinheading .mail {
	font-size: 13px;
	padding-top: 7px;
}
.thongtinheading .iconicon {
	padding-top: 7px;
}
.banner{
	width: 100%;height: auto;
	background-color: #f5f0ed;
}
.banner .tdbanner {
	padding-top: 16%;
}
.tdto{
	position: relative;
	padding-bottom: 40px;
}
.tdto::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3px;
	background-color: black;
	display: block;
}
.bannergiua .tdbanner {
	padding-top: 5%;
}
.bannergiua {
	background-color: #f5f0ed;
	border-radius: 10px;
}
.bannergiua img {
	float: right;
}

.bannergiua  .no-gutter{
	padding-left: 0;
	padding-right: 0;
}
.bannerduoi {
	background-color: #f5f0ed;
}
.khoiblog {
	background-color: #f5f0ed;
}
@media(max-width: 576px)
{
	.navbar	.form-inline {
		display: none;
	}
	.menutren .nav {
		display: none;
	}
	.navbar-light .navbar-nav .nav-link.mauchu{
		background-color: white;
	}
	.tags {
		display: none;
	}
}
