*{margin: 0;padding:0;}
.banner p {
 	font-size: 12px;
 	font-family: 'Hepta Slab', serif;
 }
 .banner h1 {
 	color: #a51212;
 	font-size: 52px;
 	font-family: 'Hepta Slab', serif;
 	font-weight: 400;
 }
 .banner h3 {
 	font-size: 25px;
 	font-weight: 400;
 	font-family: 'Hepta Slab', serif;
 }
 .main_menu ul {
 	font-size: 17px;
 	font-family: 'Hepta Slab', serif;
 	padding-right: 12px;
 }
 .logoaboutme{
	text-transform: capitalize;
	font-size: 40px;
	font-style: italic;
	font-family:  'Montserrat', sans-serif;
	font-weight: bold;
	
} 
.navbar-light .navbar-nav .nav-link.mauchu {
	color: #ab2121;
	font-size: 19px;
	padding-right: 30px;
	transition: 0.4s;
}
.navbar-light .navbar-nav .nav-link.mauchu:hover {
	color: mediumseagreen;
	font-size: 23px;
	padding-right: 40px;
}

.maunen{
	background-color: grey;
	height: 70px;

	
}
.thongtinheading {
	background-color: #ff5050;
	width: 100%;
	height: 35px;
	font-family: 'Hepta Slab', serif;
}
.thongtinheading .td {
	font-family: 'Hepta Slab', serif;
	color: #3e5dce;
	font-size: 13px;
	padding-top: 7px;
}
.thongtinheading .phone {
	font-size: 13px;
	padding-top: 7px;
}
.thongtinheading .mail {
	font-size: 13px;
	padding-top: 7px;
}
.thongtinheading .iconicon {
	padding-top: 7px;
}
.banner{
	width: 100%;height: 350px;
	background-color: #f5f0ed;
}
.banner .tdbanner {
	padding-top: 7%;
	padding-left: 18%;
}
.banner img {
	height: 350px;
	width: 100%;
}
.thongtinsanpham .anhnho img {
	width: 100%;
}
.thongtinsanpham .anhnho {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.thongtin h2 {
	font-family: 'Hepta Slab', serif;
	text-transform: capitalize;
	font-size: 35px;
	color: #920e0ed1;
}
.thongtin span {
	font-family: 'Hepta Slab', serif;
	font-size: 20px;
	color: #00a031e8;
	font-weight: 700;
}
.thongtin del {
	padding-left: 50px;
}
.thongtin .trangthai {
	font-family: 'Hepta Slab', serif;
	font-size: 17px;
	color: grey;
}
.thongtin .trangthai a {
	color: #cc1111;
	font-weight: 600;
}
.thongtin .size p {
	font-family: 'Hepta Slab', serif;
	font-size: 15px;
}
.thongtin .motasanpham {
	font-family: 'Hepta Slab', serif;
	font-size: 17px;
	font-style: italic;
}
.thongtin .chuaiconsanpham p{
	font-family: 'Hepta Slab', serif;
	font-size: 15px;
}
.thongtin .chuaiconsanpham a {
	color: black;
}

.thongtin .chuaiconsanpham a:hover {
	color: red;
}
.khoi3cainut {
	border-bottom: 2px solid black;
}
.khoi3cainut a {
	background-color: black;
	color: white;
	display: inline-block;
	margin-bottom: 20px;
}
.khoi3cainut a:nth-child(1) {
	background-color: red;
}
.khoi3cainut a:hover {
	background-color: red;
}
.textlinhtinh li {
	font-family: 'Hepta Slab', serif;
	list-style: none;
	font-size: 15px;
}
.textlinhtinh i {
	color: red;
	padding-right: 10px;
}
 .daysanphamtren p {
 	font-size: 13px;
 	font-family: 'Hepta Slab', serif;
 	text-transform: uppercase;
 	color: grey;
 }
 .daysanphamtren h5{
 	font-size: 20px;
 	font-family: 'Hepta Slab', serif;
 	text-transform: capitalize;
 	color: #ad1414;
 }
 .tdto{
	position: relative;
	padding-bottom: 40px;
}
.tdto::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3px;
	background-color: black;
	display: block;
}
.doantext {
	font-family: 'Hepta Slab', serif;
	font-size: 25px;
}
.upup i {
 	font-size: 40px;
 	padding-top: 20px;
 }
 .footer .btn-danger {
 	margin-top: 20px;
 	border-radius: 20px;
 	padding: 13px 41px;
 	background-color: black;
 	color: white;
 	font-family: 'Hepta Slab', serif;
 	font-weight: bold;
 }
 .footer .newsletter p {
 	font-family: 'Hepta Slab', serif;
 	font-size: 13px;
 	color: white;
 	padding-top: 30px;
 }
 .footer .contactus p {
 	color: white;
 	margin-top: 40px;

 }
 .footer .contactus i {
 	color: red;
 	padding-right: 10px;
 }
 .footer .tags .btn-secondary {
 	border-radius: 50px;
 	font-family: 'Hepta Slab', serif;
 	padding: 10px 15px;
 	background-color: red;
 	color: black;
 	font-weight: 800;
 	margin: 14px 5px;
 }
 .footer .tags h2 {
 	color: white;
 	text-transform: capitalize;
 	font-family: 'Hepta Slab', serif;
 	font-size: 30px;
 }
 .footer .logoaboutme {
 	color: white;
 }
 .footer .logotext p {
 	font-family: 'Hepta Slab', serif;
 	color: white;
 	font-size: 15px;
 	padding-top: 20px;
 	font-style: italic;
 } 
.footer .nenxanh {
	background-color: #000000b0;
	width: 100%;
	height: 350px;
}
.footer {
 	width: 100%;
 	height: 350px;
 	background-image: url('footer.jpg');
 	background-color: grey;
 } 